/home/arjun/Desktop/My Programming/Python Programming/lib
/home/arjun/Desktop/My Programming/Python Programming/include
/home/arjun/Desktop/My Programming/Python Programming/bin
/home/arjun/Desktop/My Programming/Python Programming/lib
